header{
  background-color: #04B4AE;
  height: 80px;
  margin-bottom: 50px;
}

body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: #D8D8D8;
  /*background-image: url(無題.png);
  画像を背景にしてもらうこともできます*/

}

.Title{
  color: white;
  font-size: 45px;
  padding-top: 5px;
  padding-left: 20px;
  bottom: 0;
  font-weight: 600;
}

.List{
  color: white;
  font-size: 25px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  bottom: 0;
  font-weight: 600;
  border: white 1px;
}

.Login{
  color: white;
  font-size: 25px;
  float: right;
  padding-top: 15px;
  padding-right: 15px;
  bottom: 0;
  font-weight: 600;
}

.kougi_table{
  margin: auto;
  background-color: #FAFAFA;
  /*背景コメントアウトで表を透明化できます*/
  border: 3px solid #2E2E2E;
}

.day,#time{
  font-weight: 600;
  font-size: 25px;
  color: #2E2E2E;
}

td,th{
  text-align: center;
  border: 2px solid #2E2E2E;
}

.kougi_table,td,th{
  table-layout: fixed;
  height: 100px;
}

a{
  padding: 30px
}

.time{
  width: 30px;
}


.Math{
  background-color: #A9F5F2;
}

.Lang{
  background-color: #F8E0F1;
}

.Shugaku{
  background-color: #F2F2F2;
}

.Risan{
  background-color: #D0A9F5;
}

.Eng{
  background-color: #F2F5A9;
}

.PD{
  background-color: #F78181;
}

.Sport{
  background-color: #F5D0A9;
}

.Cirkit{
  background-color: #A9F5BC;
}

.Senkei{
  background-color: #819FF7;
}

.Plog{
  background-color: #6E6E6E;
}

.Com{
  background-color: #BDBDBD;
}
